<% if user_signed_in? %>
	
<% end %>

<section class="category">
	<h3 class="title">Rails</h3>
	<% @articles.each do  |article| %>

	<article>
			<h4><%= link_to article.title, article_path(article.id) %></h4>
		<!--<p> <%= article.text %> </p>
		<%= link_to 'X', article_path(article), method: :delete, :class => 'close' %> -->
	</article>

	<% end %>	

</section>

<section class="category">
	<h3 class="title">Rails</h3>
	<% @articles.each do  |article| %>

	<article>
			<h4><%= article.title %></h4>
		<!--<p> <%= article.text %> </p>
		<%= link_to 'X', article_path(article), method: :delete, :class => 'close' %> -->
	</article>

	<% end %>	

</section>

<section class="category">
	<h3 class="title" >Rails</h3>
	<% @articles.each do  |article| %>

	<article>
			<h4><%= article.title %></h4>
		<!--<p> <%= article.text %> </p>
		<%= link_to 'X', article_path(article), method: :delete, :class => 'close' %> -->
	</article>

	<% end %>	

</section>

