<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="user">
      <% if user_signed_in? %>
        Hi, <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>      
    </div>

    <h1>El Blog Rails</h1>
    <span>El mas mejor de los blogs</span>    
  </header>
  <nav>
    <%= link_to "Home", articles_path %>
    <a href="#">Suscribe</a>
    <a href="#">Contact Us</a>
  </nav>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



  
<section class="summary">
  <%= yield %>
</section>
<aside>
  <div class="first">
    <h2>The Best Articles</h2>

    <h3>Lorem</h3> 
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    </p>
  </div>
  <div class="second">
    <h2>Friendly Pages</h2>

  </div>
</aside>

<footer>
  The blog Rails aplications
</footer>

</body>
</html>
